[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-cors = "*"
h5py = "*"
numpy = "*"
matplotlib = "*"
marshmallow = "*"

[dev-packages]

[requires]
python_version = "3.7"
